<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="stylesheets/main.css" title="css" type="text/css" />
    <meta charset="utf-8">
    <title>Comedians</title>
  </head>
  <body>
    <header>
      <h1>Fabulous Female Comedians</h1>
    </header>
    <main>
      <div data-spec="statistics">
        <h3>Statistics</h3>
          <h4>Average Age: <%= @average_age.to_i %></h4>
          <h4>Average Run Time: <%= @average_run_time %> minutes</h4>
          <h4>Hailing From These Cities: </h4>
            <p><%= @hometowns.join(", ") %></p>
          <h4>Total Specials: <%= @total_count %></h4>
      </div>
      <div class="comedians">
        <% @comedians.each do |comedian| %>
          <ul id="comedian-<%= comedian.id %>">
            <li>Name: <%= comedian.name %></li>
            <li>Hometown: <%= comedian.hometown %></li>
            <li>Age: <%= comedian.age %></li>
            <hX>Specials:</hX>
              <li>Total Specials: <%= comedian.specials.count %></li>
              <% comedian.specials.each do |special| %>
              <li><%= special.name %>, <%= special.run_time %> minutes</li>
              <li><img src="<%= special.image_path %>" alt="Picture of <%= comedian.name %>">
              <% end %>
          </ul>
        <% end %>
      </div>
    </main>
  </body>
</html>
